body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  min-height: 100%;
  position: relative;
  background-color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }
  body h1 {
    color: #025197;
    margin: 0px;
    font-size: 4em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  body h2 {
    color: #025197; }

#logo-index {
  width: 60px;
  height: 120px;
  padding: auto;
  vertical-align: bottom; }

.navbar-brand {
  transition: all .35s ease-in-out; }
  .navbar-brand:hover {
    transform: scale(1.2); }

.navbar {
  background-color: #cdeafd; }

.nav-item a {
  color: #025197 !important; }

.navbar-botones li {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px; }
  .navbar-botones li a {
    list-style-type: none;
    color: #025197;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    list-style-type: none;
    transition: all .35s ease-in-out; }
    .navbar-botones li a:hover {
      transform: scale(1.2); }

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%; }

.redes-sociales {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly; }
  .redes-sociales a {
    font-size: 30px;
    color: #025197;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .35s ease-in-out; }
    .redes-sociales a:hover {
      transform: scale(1.2); }

.copyright {
  color: #025197;
  margin-top: 10px;
  font-style: italic;
  font-weight: lighter;
  text-align: center; }

.privacidad {
  color: #025197;
  margin-top: 10px;
  font-style: italic;
  font-weight: lighter;
  text-align: center; }

.banner {
  margin-left: 0px !important;
  padding-left: 0px !important; }
  .banner img {
    display: inline-block;
    overflow: hidden;
    min-width: 100%;
    object-fit: cover; }

.sobre-mi-container {
  margin: 20px;
  height: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-areas: "titulo titulo foto" "texto texto foto"; }
  .sobre-mi-container h1 {
    grid-area: titulo;
    font-size: 4em;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .sobre-mi-container p {
    grid-area: texto;
    font-size: 1.8em;
    margin: 5px;
    padding-right: 25px;
    text-align: justify;
    color: #025197;
    font-style: italic;
    line-height: 50px; }

.foto4x4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: foto; }
  .foto4x4 img {
    max-width: 400px;
    max-height: 400px;
    margin: 50px;
    border-radius: 50%;
    border: solid 6px #d7efff; }

.grid-estructura {
  display: grid;
  grid-template-areas: "about about about" "main main foto-krok" "main main foto-krok"; }

.servicios-about {
  grid-area: about;
  margin: 20px; }
  .servicios-about p {
    color: #025197;
    font-size: 1.7em;
    text-align: justify;
    font-style: italic;
    padding-top: 20px;
    margin: 5px;
    padding-top: 20px;
    padding-right: 25px; }

.servicios-grid-container {
  grid-area: main;
  padding: 5px;
  display: grid;
  grid-template-areas: "s1 s2 foto-krok" "s3 s4 foto-krok" "s5 s6 foto-krok";
  row-gap: 15px; }
  .servicios-grid-container div {
    background-color: rgba(0, 0, 0, 0.014);
    padding: 15px;
    border: solid 6px #d7efff;
    margin: 10px 5px;
    transition: all .35s ease-in-out; }
    .servicios-grid-container div h4 {
      color: #025197; }
    .servicios-grid-container div p {
      color: #025197; }
      .servicios-grid-container div p a {
        text-decoration: none;
        color: #025197;
        font-weight: bold; }
  .servicios-grid-container div:hover {
    background-color: rgba(0, 0, 0, 0.247); }
  .servicios-grid-container img {
    border: solid 6px #d7efff;
    margin: 10px 50px;
    height: auto;
    width: 500px;
    grid-area: foto-krok;
    align-items: baseline; }

.servicio-1 {
  grid-area: s1;
  padding: 5px;
  margin: 5px;
  border: 20px; }

.servicio-2 {
  grid-area: s2;
  padding: 5px;
  margin: 5px;
  border: 20px; }

.servicio-3 {
  grid-area: s3;
  padding: 5px;
  margin: 5px;
  border: 20px; }

.servicio-4 {
  grid-area: s4;
  padding: 5px;
  margin: 5px;
  border: 20px; }

.servicio-5 {
  grid-area: s5;
  padding: 5px;
  margin: 5px;
  border: 20px; }

.servicio-6 {
  grid-area: s6;
  padding: 5px;
  margin: 5px;
  border: 20px; }

.ubicacion-container {
  display: grid;
  grid-template-areas: "texto texto" "datos-1 datos-2" "mapa-1 mapa-2"; }
  .ubicacion-container h3 {
    color: #025197; }
  .ubicacion-container span {
    color: #025197;
    font-style: italic;
    font-weight: lighter; }
  .ubicacion-container p {
    color: #025197; }

.ubicacion-about {
  margin: 20px;
  grid-area: texto; }
  .ubicacion-about p {
    color: #025197;
    font-size: 1.7em;
    text-align: justify;
    font-style: italic;
    padding-top: 20px; }

.contenedor-san-miguel {
  background-color: rgba(0, 0, 0, 0.014);
  min-height: 60vh;
  margin: 10px;
  transition: all .35s ease-in-out;
  padding: 30px 0px;
  border: solid 6px #d7efff; }

.contenedor-san-miguel:hover {
  background-color: rgba(0, 0, 0, 0.247); }

.ubicacion-datos-san-miguel {
  grid-area: datos-1;
  text-align: center;
  z-index: 10; }

.ubicacion-san-miguel {
  grid-area: mapa-1;
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor-florida {
  background-color: rgba(0, 0, 0, 0.014);
  min-height: 60vh;
  margin: 10px;
  transition: all .35s ease-in-out;
  padding: 30px 0px;
  border: solid 6px #d7efff; }

.contenedor-florida:hover {
  background-color: rgba(0, 0, 0, 0.247); }

.ubicacion-datos-florida {
  grid-area: datos-2;
  text-align: center; }

.ubicacion-florida {
  grid-area: mapa-2;
  display: flex;
  justify-content: center;
  align-items: center; }

.contacto-about {
  margin: 20px; }
  .contacto-about p {
    color: #025197;
    font-size: 1.7em;
    text-align: justify;
    font-style: italic;
    padding-top: 20px; }

.contacto-container {
  display: block;
  background-image: url(../public/img/rodilla.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: 70vh; }
  .contacto-container .mb-3 {
    justify-content: center;
    text-align: center; }

/* Media Queries */
@media (max-width: 768px) {
  footer {
    position: fixed; }
  .krok {
    display: none; }
  .ubicacion-san-miguel {
    display: none; }
  .ubicacion-florida {
    display: none; } }
