body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  min-height: 100%;
  position: relative;
  background-color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }
  body h1 {
    color: #025197;
    margin: 0px;
    font-size: 4em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  body h2 {
    color: #025197; }

.navbar-brand {
  transition: all .35s ease-in-out; }
  .navbar-brand:hover {
    transform: scale(1.2); }

.navbar {
  background-color: #d7efff !important; }

.nav-link {
  color: #025197 !important;
  margin-left: 50px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .35s ease-in-out; }
  .nav-link:hover {
    transform: scale(1.2); }

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d7efff !important; }

.redes-sociales {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly; }
  .redes-sociales a {
    font-size: 30px;
    color: #025197;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .35s ease-in-out; }
    .redes-sociales a:hover {
      transform: scale(1.2); }

.copyright {
  color: #025197;
  margin-top: 10px;
  font-style: italic;
  font-weight: lighter;
  text-align: center; }

.privacidad {
  color: #025197;
  margin-top: 10px;
  font-style: italic;
  font-weight: lighter;
  text-align: center; }

.banner {
  margin-left: 0px !important;
  padding-left: 0px !important; }
  .banner .banner-hor {
    display: inline-block;
    overflow: hidden;
    min-width: 100% !important;
    min-height: 80vh !important;
    background-color: #d7efff;
    object-fit: cover; }
  .banner .banner-vert {
    display: none; }

.main-index {
  background-color: #d7efff; }

@media (max-width: 768px) {
  .banner {
    height: max-content;
    padding-bottom: 90px; }
  .banner-hor {
    display: none !important; }
  .banner-vert {
    display: inline-block !important;
    height: 100%;
    width: auto; } }

@media (max-width: 992px) {
  .banner {
    height: max-content;
    padding-bottom: 90px; }
  .banner-hor {
    display: none !important; }
  .banner-vert {
    display: inline-block !important;
    height: auto;
    width: 100%; } }

.sobre-mi-container {
  margin-top: 20px;
  height: 100%;
  min-height: 80vh; }
  .sobre-mi-container h1 {
    font-size: 4em;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .sobre-mi-container p {
    font-size: 1.8em;
    margin: 5px;
    padding-right: 25px;
    text-align: justify;
    color: #025197;
    font-style: italic;
    line-height: 50px; }

.foto4x4 {
  display: flex;
  justify-content: center;
  align-items: center; }
  .foto4x4 img {
    max-width: 400px;
    max-height: 400px;
    margin: 50px;
    border-radius: 50%;
    border: solid 6px #d7efff; }

@media (max-width: 768px) {
  .foto4x4 img {
    max-width: 90%;
    max-height: 90%; }
  .sobre-mi-container {
    margin-bottom: 100px; }
    .sobre-mi-container p {
      font-size: 1.2em; } }

.servicios-about {
  margin-top: 20px; }
  .servicios-about p {
    color: #025197;
    font-size: 1.7em;
    text-align: justify;
    font-style: italic;
    padding-top: 20px; }

.servicios-container {
  padding-bottom: 100px; }

.servicio {
  border: solid 6px #d7efff;
  transition: all .35s ease-in-out;
  margin: 10px 5px;
  padding: 15px;
  min-height: 33%; }
  .servicio h4 {
    color: #025197; }
  .servicio p {
    color: #025197; }
    .servicio p a {
      text-decoration: none;
      color: #025197;
      font-weight: bold; }
  .servicio:hover {
    background-color: rgba(0, 0, 0, 0.247); }

.container-krok {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between; }
  .container-krok img {
    border: solid 6px #d7efff;
    margin: 10px 5px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between; }

.ajuste-columna {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

@media (max-width: 768px) {
  .ajuste-columna {
    margin-bottom: 0px;
    min-height: auto; } }

.servicio {
  min-height: auto; }

@media (max-width: 992) {
  .ajuste-columna {
    margin-bottom: 0px;
    min-height: auto; }
  .servicio {
    min-height: auto;
    margin-bottom: 0px; } }

.ubicacion-container {
  display: grid;
  grid-template-areas: "texto texto" "datos-1 datos-2" "mapa-1 mapa-2"; }
  .ubicacion-container h3 {
    color: #025197; }
  .ubicacion-container span {
    color: #025197;
    font-style: italic;
    font-weight: lighter; }
  .ubicacion-container p {
    color: #025197; }

.ubicacion-about {
  margin-top: 20px;
  grid-area: texto; }
  .ubicacion-about p {
    color: #025197;
    font-size: 1.7em;
    text-align: justify;
    font-style: italic;
    padding-top: 20px; }

.contenedor-san-miguel {
  background-color: rgba(0, 0, 0, 0.014);
  min-height: 60vh;
  margin: 10px;
  transition: all .35s ease-in-out;
  padding: 30px 0px;
  border: solid 6px #d7efff; }

.contenedor-san-miguel:hover {
  background-color: rgba(0, 0, 0, 0.247); }

.ubicacion-datos-san-miguel {
  grid-area: datos-1;
  text-align: center;
  z-index: 10; }

.ubicacion-san-miguel {
  grid-area: mapa-1;
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor-florida {
  background-color: rgba(0, 0, 0, 0.014);
  min-height: 60vh;
  margin: 10px;
  transition: all .35s ease-in-out;
  padding: 30px 0px;
  border: solid 6px #d7efff; }

.contenedor-florida:hover {
  background-color: rgba(0, 0, 0, 0.247); }

.ubicacion-datos-florida {
  grid-area: datos-2;
  text-align: center; }

.ubicacion-florida {
  grid-area: mapa-2;
  display: flex;
  justify-content: center;
  align-items: center; }

.contacto-about {
  margin-top: 20px; }
  .contacto-about p {
    color: #025197;
    font-size: 1.7em;
    text-align: justify;
    font-style: italic;
    padding-top: 20px; }

.contacto-container {
  display: block;
  background-image: url(../public/img/rodilla.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: 70vh; }
  .contacto-container .mb-3 {
    justify-content: center;
    text-align: center; }

/* Media Queries */
@media (max-width: 768px) {
  footer {
    position: fixed; } }
