
// Body, Fonts y Background
body { font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    min-height: 100%;
    position: relative;
    background-color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        color: $color-primary;
        margin: 0px;
        font-size: 4em;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    } 
    h2 {
        color: $color-primary;
    }
    
}