// Page Contacto

.contacto-about {
    @include about-spacing;
    
    p {
        @include parrafos-about;               
    }
}

.contacto-container {
    display: block;
    background-image: url(../public/img/rodilla.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 70vh;
    .mb-3 {    

    justify-content: center;
    text-align: center;         
    }
    
    
    
}





