// Banner index
.banner {    
    width: 100%;    
    opacity: 40%;
    margin-left: 0px !important;
    padding-left: 0px !important;
    img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .banner-hor {
    display: inline-block;       
    overflow: hidden;
    min-width: 100% !important;
    min-height: 80vh !important;
    background-color: $color-secondary;
    object-fit: cover;
    }
    .banner-vert {
        display: none;
    }
}
.main-index {
    background-color: $color-secondary;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.index-about {
    text-align: center;
    position: absolute;
    max-width: 100%;
    h1 {
        font-size: 2.5em;
        padding-bottom: 33%;
        font-weight: 900;
        text-transform: uppercase;
    }
    p{
        @include parrafos-about;
        text-align: center;
        

    }
}

@media (max-width: 768px) {
    .banner {
        height: max-content;
        padding-bottom: 90px;
    }    
    .banner-hor {
        display: none !important;
    }
    .banner-vert {
        display: inline-block !important;
        height: 100%;
        width: auto;
    .index-about {
        h1 {
            font-size: 2em;
        }
    }    
    }    
}

@media (max-width: 992px) {
    .banner {
        height: max-content;
        padding-bottom: 90px;
    }    
    
    .index-about {
        h1 {
            font-size: 2em;
        }   
}
}