// Banner index
.banner {
    margin-left: 0px !important;
    padding-left: 0px !important;
    img {
    display: inline-block;       
    overflow: hidden;
    min-width: 100%;
    object-fit: cover;

    }
}