/* Media Queries */

@media (max-width: 768px){
    footer {
        position: fixed;
    }
    .krok {
        display: none;
    }
    .ubicacion-san-miguel {
        display: none;
    }
    .ubicacion-florida {
        display: none;
    }
}

