// Mixins

// Espaciado h1
@mixin h1-spacing {
    margin-top: 20px;
}


// Espaciados de titulo y párrafo
@mixin about-spacing {
    margin-top: 80px;   
}
// Parrafos bajo el título h1
@mixin parrafos-about {
    color: $color-primary;    
    font-size: 1.7em;
    text-align: justify;
    font-style: normal;
    padding-top: 40px;    
}

// Bordes de img 
@mixin photo-border {
    border: solid 6px $color-secondary
}


@mixin ubicacion-contenedores {
    background-color: rgba(0, 0, 0, 0.014);
    min-height: 60vh;
    margin: 10px;
    transition: all .35s ease-in-out; 
    padding: 30px 0px
}