// Navbar
.navbar-brand {
    transition: all .35s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}


.navbar {
    background-color: $color-secondary !important; 
}

.nav-link {
    color: $color-primary !important; 
    margin-left: 50px;   
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .35s ease-in-out;
        &:hover {
            transform: scale(1.2);
            }                 
}