// Navbar

#logo-index {
    width: 60px;
    height: 120px;
    padding: auto;
    vertical-align: bottom;
}

.navbar-brand {
    transition: all .35s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}


.navbar {
    background-color:rgb(205, 234, 253)
}

.nav-item a {
    color: $color-primary !important;
}
.navbar-botones {
    li {
    display: inline-block;    
    padding-left: 50px;
    padding-right: 50px;     
        a {
        list-style-type: none;
        color: $color-primary;
        display: inline-block;    
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        list-style-type: none;    
        transition: all .35s ease-in-out;
        &:hover {
            transform: scale(1.2);
            }                 
        }                
        
    }      
}

