// Page Servicios

.servicios-about {    
    @include about-spacing;
    p {
        @include parrafos-about;        
    }
}
.servicios-container {
    padding-bottom: 100px;  
}

.servicio {
    @include photo-border;
    transition: all .35s ease-in-out; 
    margin: 10px 5px;
    padding: 15px;  
    min-height: 33%;
    
    h4 {
        color: $color-primary;
    }
    p {
        color: $color-primary;
        a {
            text-decoration: none;
            color: $color-primary;
            font-weight: bold;  
        }
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.247);
    }  
    
}

.container-krok {
    display: flex;    
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0px 16px;
    img {
        @include photo-border; 
        margin: 10px 5px;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: space-between;

    }
}

.ajuste-columna{
   min-height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   p {
  
   }
}

@media (max-width: 768px){
    .ajuste-columna {
        margin-bottom: 0px;
        min-height: auto;
    }
    }
    .servicio {
        min-height: auto;
    }

    @media (max-width: 992){
        .ajuste-columna {
            margin-bottom: 0px;
            min-height: auto;            
    }
    .servicio {
        min-height: auto;
        margin-bottom: 0px;
    }
}
        