//Page Sobre mi

.sobre-mi-container {
    @include about-spacing;
    height: 100%;
    min-height: 80vh;      
    ;    
    h1 {
        
        font-size: 4em;
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    p {        
        font-size: 1.8em;
        margin: 5px;        
        padding-right: 25px;
        text-align: justify;
        color: $color-primary;
        font-style: italic;
        line-height: 50px;
    }    
}

.foto4x4 {
    display: flex;
    justify-content: center;
    align-items: center;    
    img{
        max-width: 400px;
        max-height: 400px;
        margin: 50px;
        border-radius: 50%;
        @include photo-border;
    }
}

@media (max-width: 768px) {
    .foto4x4 {
        img {
            max-width: 90%;
            max-height: 90%;
        }
    }
    .sobre-mi-container {
        margin-bottom: 100px;
        p {
            font-size: 1.2em; 
        }
    }

}