// Page Ubicación
.ubicacion-container {
    display:grid;
    grid-template-areas: 
    "texto texto"
    "datos-1 datos-2"
    "mapa-1 mapa-2"    
    ;
    h3 {
        color: $color-primary;
        
    }
    span {
        color: $color-primary;
        font-style: italic;
        font-weight: lighter;
    }
    p {
        color: $color-primary;
    }
}

.ubicacion-about {
    @include about-spacing;
    grid-area: texto;

    p {
    @include parrafos-about;
    }
}

.contenedor-san-miguel {
    @include ubicacion-contenedores;
    @include photo-border;
    
    
    
}
.contenedor-san-miguel:hover {
    background-color: rgba(0, 0, 0, 0.247);
}

.ubicacion-datos-san-miguel {    
    grid-area: datos-1;
    text-align: center;
    z-index: 10;
    
        
}

.ubicacion-san-miguel {
    grid-area: mapa-1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.contenedor-florida {    
    @include ubicacion-contenedores;
    @include photo-border;    
}

.contenedor-florida:hover {
    background-color: rgba(0, 0, 0, 0.247);
}

.ubicacion-datos-florida {
    grid-area: datos-2;
    text-align: center;
}

.ubicacion-florida {
    grid-area: mapa-2;
    display: flex;
    justify-content: center;
    align-items: center;    
}