// Page Ubicación
.ubicacion-container {
     h3 {
        color: $color-primary;
        
    }
    span {
        color: $color-primary;
        font-style: italic;
        font-weight: lighter;
    }
    p {
        color: $color-primary;
    }
}

.ubicacion-about {
    @include about-spacing;   
    p {
    @include parrafos-about;
    }
}

.contenedor-san-miguel {
    @include ubicacion-contenedores;
    @include photo-border;
    margin-bottom: 50px;   
}
.contenedor-san-miguel:hover {
    background-color: rgba(0, 0, 0, 0.247);
}

.ubicacion-datos-san-miguel {    
    text-align: center;
    z-index: 10;
    
        
}

.ubicacion-san-miguel {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-florida {    
    @include ubicacion-contenedores;
    @include photo-border;    
    margin-bottom: 50px;
}

.contenedor-florida:hover {
    background-color: rgba(0, 0, 0, 0.247);
}

.ubicacion-datos-florida {    
    text-align: center;
}

.ubicacion-florida {    
    display: flex;
    justify-content: center;
    align-items: center;    
}

@media (max-width: 768){
    .ubicacion-container {
        margin-bottom: 500 px !important; 
    }
}