@import "variables";
@import "mixins";    
@import "body";
@import "navbar";
@import "footer";
@import "index";
@import "sobre-mi";
@import "servicios";
@import "ubicacion";
@import "contacto";
@import "media-queries";





